<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Starter Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common.css">


    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
  <body>
    <div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
        <button id="toggle" class="button">Switch Mode</button>
        <script>
            const toggle = document.getElementById("toggle");
            const refresh = document.getElementById("refresh");
            const theme = window.localStorage.getItem("theme");
            if (theme === "dark") document.body.classList.add("dark");
            toggle.addEventListener("click", () => {
            document.body.classList.toggle("dark");
            if (theme === "dark") {
                window.localStorage.setItem("theme", "light");
            } else window.localStorage.setItem("theme", "dark");
            });
        </script>
    
         <!-- <button id="light" class="button">light Mode</button> -->
        <script>
            const togglee = document.getElementById("light");
            const refreshh = document.getElementById("refresh");
            const themee = window.localStorage.getItem("theme");
            if (theme === "light") document.body.classList.add("light");
            toggle.addEventListener("click", () => {
            document.body.classList.toggle("light");
            if (theme === "light") {
                window.localStorage.setItem("themee", "light");
            } else window.localStorage.setItem("themee", "dark");
            });
        </script>
      
    </nav>
  </div>

    

    
    <div class="container">
      <!-- <br><br><br><br> -->
      <img src="/images/logo.png" />
      <h2>Total number of customers: <%= total_customers %></h2>
      <a href="/index" class="btn btn-info" role="button">Show Customers</a>
      <a href="/api/customer/Add" class="btn btn-info" role="button"
        >Add Customers</a
      >
    </div>

  </body>
</html>
