<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Starter Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common.css">


    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>

<body >

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/api/customer">CMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="/api/customer">Customers List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/customer/Add">Add Customer</a>
                    </li>
                    
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0"
                method="GET" action="/api/search/<% value = '' %>">
                 <input class="form-control mr-sm-2" type="text" name="search"
                  placeholder="Search" aria-label="Search">
                 <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
               </form>


                 <!-- <form class="form-inline my-2 my-lg-1"
                method="GET" action="/api/search/<% value = '' %>">
                 <input class="form-control mr-sm-2" type="text" name="filter" 
                  value="true" aria-label="Search">
                 <button class="btn btn-secondary my-2 my-sm-0" type="submit">filter</button>
            </form> -->
               



            </div>
            <button id="toggle" class="button">Switch Mode</button>
            <script>
                const toggle = document.getElementById("toggle");
                const refresh = document.getElementById("refresh");
                const theme = window.localStorage.getItem("theme");
                if (theme === "dark") document.body.classList.add("dark");
                toggle.addEventListener("click", () => {
                document.body.classList.toggle("dark");
                if (theme === "dark") {
                    window.localStorage.setItem("theme", "light");
                } else window.localStorage.setItem("theme", "dark");
                });
            </script>

             <!-- <button id="light" class="button">light Mode</button> -->
            <script>
                const togglee = document.getElementById("light");
                const refreshh = document.getElementById("refresh");
                const themee = window.localStorage.getItem("theme");
                if (theme === "light") document.body.classList.add("light");
                toggle.addEventListener("click", () => {
                document.body.classList.toggle("light");
                if (theme === "light") {
                    window.localStorage.setItem("themee", "light");
                } else window.localStorage.setItem("themee", "dark");
                });
            </script>
        </div>
    </nav>

    <main class="container">

        <div class="starter-template text-center py-5 px-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" ><a href="/sortbyname" >Full Name</a></th>
                        <!-- <th scope="col"><a href="/sortbydate" >Regestered Date</a></th> -->
                        <th scope="col"><a href="/sortbyage" >Age</a></th>
                        <th scope="col">Mobile</th>
                        <th scope="col"><a href="/sortbygold" >isGold</a></th>
                        <th scope="col">Action</th>
                        <!-- <th scope="col">Delete</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% let counter=1 %>
                        <% customers.forEach(item=>{ %>
                            <tr>
                                <td>
                                    <%= counter++ %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <!-- <td>
                                    <%= item.regestration %>
                                </td> -->
                                <td>
                                    <%= item.age %>
                                </td>
                                <td>
                                    <%= item.mobile %>
                                </td>
                                <td>
                                    <% if(item.isGold) { %>
                                        <img width='25' height='30' src='/public/assets/right.png'>
                                        <% } else { %>
                                            <img width='25' height='30' src='/public/assets/wrong.png'>
                                            <%} %>
                                </td>
                                <td id="editm"> <a href="/api/customer/show/<%= item._id %>" class="btn btn-primary">Edit</a>
                                    <div class="box">
                                    <a class="bi bi-trash-fill" href="#popup1">Delete?</a>
                                </div></td>
                                <td><i class="bi bi-trash-fill"></i></td>
                                <!-- <td>
                                    <a class="btn btn-raised btn-danger" href="/api/customer/delete/<%= item._id %>">Delete</a></td> 
                                    
                                </td> -->
                                
                                    <div id="popup1" class="overlay">
	<div class="popup">
		<h2>are you sure want to delete?</h2>
		 <a class="btn btn-raised btn-danger" href="/api/customer/delete/<%= item._id %>">Delete</a>
        <a href="/index"><img width='150' height='150'  src='/public/assets/no.jpg'></a> 
	</div>
</div>

                                
                                
                            </tr>
                            <% })%>

                </tbody>
            </table>

        </div>

    </main><!-- /.container -->


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
        
    
    </script>


</body>

</html>