<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v3.8.5" />
    <title>Starter Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.3/examples/starter-template/"
    />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/common.css" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>


<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/api/customer">CMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/api/customer">Customers List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/customer/Add">Add Customer</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <%= customer.age %>"
      </ul>

    </div>
    <button id="toggle" class="button">Switch Mode</button>
    <script>
        const toggle = document.getElementById("toggle");
        const refresh = document.getElementById("refresh");
        const theme = window.localStorage.getItem("theme");
        if (theme === "dark") document.body.classList.add("dark");
        toggle.addEventListener("click", () => {
        document.body.classList.toggle("dark");
        if (theme === "dark") {
            window.localStorage.setItem("theme", "light");
        } else window.localStorage.setItem("theme", "dark");
        });
    </script>

     <!-- <button id="light" class="button">light Mode</button> -->
    <script>
        const togglee = document.getElementById("light");
        const refreshh = document.getElementById("refresh");
        const themee = window.localStorage.getItem("theme");
        if (theme === "light") document.body.classList.add("light");
        toggle.addEventListener("click", () => {
        document.body.classList.toggle("light");
        if (theme === "light") {
            window.localStorage.setItem("themee", "light");
        } else window.localStorage.setItem("themee", "dark");
        });
    </script>
  </nav>

  <main role="main" class="container">

    <div>
      <h1>Customer Details</h1>
      <br><br>
        <form action="/api/customer/customers/<%=customer._id%>?_method=PUT" method="post" >
  <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input
              type="text"
              class="form-control"
              value="<%= customer.name %>"
              id="name"
              name="name"
              placeholder="Enter Your Name "
            />

            <div class="form-group">
              <label for="exampleFormControlInput1">age</label>
              <input
                type="number"
                class="form-control"
                value=  "<%= customer.age %>"
                id="age"
                name="age"
                placeholder="Enter Your Age "
              />

<!-- 

  <div class="form-group">
              <label for="exampleFormControlInput1">Date</label>
              <input
                type="text"
                class="form-control"
                value= "<%= customer.regestration %>"
                id="regestration"
                name="regestration"
                placeholder="Enter Your Name "
              /> -->


          <div class="form-group">
            <label for="exampleFormControlInput1">Mobile</label>
            <input
              type="text"
              class="form-control"
              value="<%= customer.mobile %>"
              id="mobile"
              name="mobile"
              placeholder="Enter Your Mobile No."
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Is Gold ?</label>
            <input type="checkbox" class="form-control" id="isGold" value="true"
            name="isGold" <%= customer.isGold ? "checked" : "" %> />
          </div>
          <input type="hidden" name="_method" value="PUT" />
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </main>
    <!-- /.container -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
