.light{
width: 100%;
min-height: 100vh;
flex-wrap: wrap;
padding: 15px;
justify-content: center;
align-items: center;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container{
  margin-top: 100px;
  font-size: large;
  margin-right: auto;
    margin-left: auto;

}
 

.dark {
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
min-height: 100vh;
flex-wrap: wrap;
padding: 15px;
justify-content: center;
align-items: center;
background-color:#212529;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dark h2{
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
.dark table{
color: white;
}


.dark nav{
background-color: #212529 !important;
border-bottom: 1px solid rgba(255, 255, 255, 0.568);

}

.dark .form-group{
color: white;
}

.button {
background-color: #6c757d;
color: white;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition:  ease-in-out;
background-color: .15s ease-in-out;
border-color: .15s ease-in-out;
box-shadow: .15s ease-in-out;
}
.dark h1{
  color: white;
}


#editm{
  display: flex;
  flex-direction: row;
  justify-content: center
}